.botao-padrao {
    width: auto;
    height: auto;
    padding: 10px 0;
    display: block;
    align-items: center;
    text-decoration: underline;
    color: $cor-texto;
    @media screen and (min-width: 720px) {
        display: flex;
        text-decoration: none;
    }
    &__risca {
        width: 52px;
        height: 2px;
        position: relative;
        background: $cor-texto;
        margin: 0 12px 0 0;
        padding: 0;
        left: 0;
        display: none;
        @media screen and (min-width: 720px) {
            display: block;
        }
    }
    &--branco {
        color: #fff;
        .botao-padrao__risca {
            background: #fff;
        }
    }
}