.topo-principal {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    padding: 20px;
    z-index: 9;
    @media screen and (min-width: 720px) {
        padding: 40px;
    }
    .titulo-site {
        padding: 0;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        text-decoration: none;
        margin: 0 auto;
        @media screen and (min-width: 720px) {
            margin: 0;
            padding-left: 30px;
        }
    }
    &__container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        position: relative;
        align-items: center;
    }
    .botao-hamburguer {
        background: none;
        border: 0;
        span {
            border-radius: 10px;
            background: #fff;
            height: 5px;
            display: block;
            position: relative;
            margin-bottom: 5px;
        }
        span:nth-child(1) {
            width: 34px;
        }
        span:nth-child(2) {
            width: 42px;
        }
        span:nth-child(3) {
            width: 24px;
        }
    }
    .botao-fechar {
        padding: 24px;
        position: absolute;
        left: 45px;
        top: 45px;
        background: none;
        border: 0;
        span:nth-child(1) {
            transform: rotate(45deg);
        }
        span:nth-child(2) {
            transform: rotate(-45deg);
            top: -5px;
        }
        span {
            border-radius: 10px;
            width: 50px;
            height: 5px;
            background: #333;
            position: relative;
            display: block;
        }
    }
    &--conteudo {
        position: relative;
        .titulo-site {
            color: #333;
        }
        .botao-hamburguer {
            span {
                background: #333;
            }
        }
    }
}