.swiper-slide {
    text-align: center;
}
.swiper-slide {
    padding-bottom: 30px;
}
.swiper-titulo {
    color: #fff;
    text-align: center;
}
.swiper-pagination-bullet-active {
    background: #fff;
}